html, body{
	margin:0px 0px;
	padding:0px 0px;
}
body{
}

.stage{
	overflow: hidden;
}

.stage * {
	position: absolute;
}

.game{
	background: #000000;
	margin:0px 0px;
	padding:0px 0px;

	width:782px;
	height:467px;
}

